<div class="photo-card">
    <a href ="{{largeImageURL}}">
        <img src="{{webformatURL}}" alt="{{tags}}" title="{{tags}}" width="360"  loading="lazy" />
        </a>
    <div class="info">
        <p class="info-item">
            <i class="material-icons">thumb_up</i>
            <b>{{likes}}</b>
        </p>
        <p class="info-item">
            <i class="material-icons">visibility</i>
            <b>{{views}}</b>
        </p>
        <p class="info-item">
            <i class="material-icons">comment</i>
            <b>{{comments}}</b>
        </p>
        <p class="info-item">
            <i class="material-icons">cloud_download</i>
            <b>{{downloads}}</b>
        </p>
    </div>
</div>

